# =======================
# django
Django==4.2.13
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.3
django-cleanup==8.0.0
djangorestframework-simplejwt==5.3.1
dj-database-url==2.1.0
django-debug-toolbar==4.2.0
# =======================
Pillow==10.1.0
requests
python-dotenv==1.0.0
psycopg2-binary==2.9.9
# =======================
# deployment
gunicorn==21.2.0
# whitenoise==6.6.0
# =======================
# payment
wechatpayv3
python-alipay-sdk
cryptography
# =======================
django-redis
redis
# =======================
elasticsearch-dsl
# =======================
django-storages
minio
boto3